@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans','Arial Narrow',Arial,sans-serif;
}

.main-div{
  width: 100%;
  height: 100vh;
  background-color: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-div {
  background-color: #f4f4f4;
  height: 80vh;
  width: 25%;
  border-radius: 15px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  overflow:scroll;
  overflow-x: hidden;
}

.center-div h1{
  background: transparent;
  background-color: rgb(123, 75, 168);
  color: white;
  font-size: 40px;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.center-div input{
  height: 3px;
  top: 10px;
  border: none;
  background: transparent;
  width: 60%;
  text-align: center;
  height: 10%;
  font-size: 20px;
  font-weight: 1000;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

 .newBtn {
  min-height: 58px; 
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color:#fff; 
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  /* box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
}

.center-div button:hover{
  background-color: #6fe08b;
}

.list-style button:hover{
  background-color: #cc3838;
}

ol{
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 27px;
  font-weight: 1000;
  min-width: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  margin-top: 20px ;
  /* text-align: center; */
}

.list-style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.list-style button{
  margin-top: 10px;
  margin-right: 10px;
}

.deleteIcon{
  margin-left: 30px;
  margin-top: 20px;
  background-color: #8566aa;
  color: white;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px ;
}


.deleteIcon:hover {
  color: red;
  background-color: white;
}

@media (max-width: 768px){
  .center-div {
    width: 55%;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}

